<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
			<netTcpBinding> 
				<binding maxReceivedMessageSize="2000000000">
					<readerQuotas maxArrayLength="2000000000"/>
				</binding>
				
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="524288000"/>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>